.headerBody {
    background-color: rgb(12, 12, 16, 0.5);
    border-bottom: 1px #161620 solid;
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    z-index: 100;
}

.headerContainer {
    /*border: 1px #161620 solid;*/
    display: flex;
    max-width: 1500px;
    width: 100%;
    height: auto;
    margin: 0.5rem 2rem;
    justify-content: space-between;
}

.navButtons {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

.headerLink {
    border: none;
    color: white;
    transition: color 0.2s ease-in-out;
    background: transparent;
    text-decoration: none;
}

.headerLink:hover, .headerLinkActive {
    color: #d61d50;
    filter: drop-shadow(0 0 0.25rem #a8113a);
}