.pageBody {
  /*border: 1px solid #171717;*/
  align-items: center;
  justify-items: center;
  min-height: inherit;
  background: transparent;
  position: relative;
  z-index: 0;
  pointer-events: none;
}

.backgroundContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../public/graphics/background_pattern_1.png");
  background-size: 4rem 4rem;
  background-position: 0 0;
  mask-image: linear-gradient(to right, transparent 0%, #0c0c10 40%, #0c0c10 60%, transparent 100%);
  z-index: -2;
  /*animation: scroll-left 360s linear infinite;*/
  pointer-events: none;
}

.foregroundContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../public/graphics/background_pattern_2.png");
  background-size: 1rem 1rem;
  background-position: 0 0;
  mask-image: linear-gradient(to right, transparent 0%, #0c0c10 40%, #0c0c10 60%, transparent 100%);
  z-index: -1;
  animation: scroll-left 200s linear infinite;
  pointer-events: none;
}

@keyframes scroll-left {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.pageContainer {
  display: flex;
  z-index: 2;
  min-height: 128rem;
  width: 100%;
  justify-content: center;
}

.contentContainer {
  /*border: 1px #161620 solid;*/
  margin: 1rem 2rem;
  padding: 0.5rem;
  max-width: 1500px;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.contentBox {
  background: #0c0c10;
  border: 1px #161620 solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.heroBox {
  height: 80rem;
}

