.pageContainer {
  /*border: 1px solid #171717;*/
  align-items: center;
  justify-items: center;
  min-height: 200vh;
  background: transparent;
  position: relative;
}

.backgroundContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../public/graphics/backgroundtest2.png");
  background-size: 64px 64px;
  background-position: 0 0;
  mask-image: linear-gradient(to right, transparent 0%, #0c0c0b 50%, transparent 100%);
  z-index: -1;
  /*animation: scroll-left 120s linear infinite;*/
}

/*@keyframes scroll-left {*/
/*  from {*/
/*    background-position: 0 0;*/
/*  }*/
/*  to {*/
/*    background-position: 100% 0;*/
/*  }*/
/*}*/

.pageBody {
  z-index: 2;
  padding: 2rem;
}
